@font-face {
	font-family: VCR;
	src: url('/assets/fonts/vcr_osd_mono.woff2') format('woff2');
}

@font-face {
	font-family: PPNeueBit-Bold;
	font-weight: 700;
	src: url('/assets/fonts/PPNeueBit-Bold.woff2') format('woff2');
}

@font-face {
	font-family: PPNeueBit-Regular;
	font-weight: 400;
	src: url('/assets/fonts/PPMondwest-Regular.woff2') format('woff2');
}

